<div class="bg-white new-list m-auto w-1/3 px-5 py-5 rounded-sm">
  <h1 class="text font-sans font-normal text-2xl mb-3">ADD A NEW TASK</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <!-- <label for="">new task</label> -->
    <input
    class="bg-[#F9F7FA] w-full px-2 py-2 rounded"

      type="text"
      class="bg-[#F9F7FA] w-full px-2 py-2 rounded"

      ngModel
      name="newTask"
      id="newTask"
      required=""
      placeholder="Add a new task"
    />
    <div class="flex w-full justify-end space-x-3 mt-3">
    <button (click)="onCancel()" class="bg-[#F9F7FA] rounded px-2 py-1">Cancel</button>
    <button type="submit" class="bg-[#28D6A3] rounded px-2 py-1 text-white">Create</button>
    </div>
  </form>
</div>
